<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/styles/style.css' />    
  </head>
  <body>
    <p>About Blocks: TBD</p>
    <p>you shoul not be here</p>
  </body>
</html>
